# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/

# Local config
*.local

# Firebase API keys (DO NOT TRACK)
firebase-config.ts

# Editor directories and project files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variable files
.env
.env.*.local
# Refine prepublish script at 2024-10-03 17:01:41 - 19582
# Refine prepublish script at 2024-11-03 14:31:02 - 6748
# Refine prepublish script at 2024-11-08 16:50:35 - 2891
