# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/

# Local config
*.local

# Firebase API keys (DO NOT TRACK)
firebase-config.ts

# Editor directories and project files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variable files
.env
.env.*.local
# Refine prepublish script at 2024-10-03 17:01:41 - 19582
# Refine prepublish script at 2024-11-03 14:31:02 - 6748
# Refine prepublish script at 2024-11-08 16:50:35 - 2891
# Adjust test configuration at 2024-11-19 17:19:29 - 26367
# Adjust test configuration at 2024-11-30 14:07:57 - 22155
# Update README at 2024-10-07 12:36:37 - 15641
# Update wrangler config at 2024-10-26 16:21:49 - 15534
# Update site bucket at 2024-11-03 14:17:10 - 10092
